.LoginPage{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginorregcontainer{
    position: relative;
    width: 55%;
    height: 80%;
    background-color: navy;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    overflow: hidden;
    border-radius: 5px;
}

.reginput{
    width: 300px;
    height: 40px;
    margin-bottom: 12px;
    font-size: 1rem;
}

.username{
    padding-bottom: 0;
    margin-bottom: 0;
    color: azure;
    font-size: large;
    text-align: left;
    font-size: 1.5rem;
}

.password{
    padding-bottom: 0%;
    margin-bottom: 0;
    color: azure;
    font-size: large;
    font-size: 1.5rem;
}

.LoginContainer{
    position: absolute;
    top: 80%;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    padding-top: 10px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;

    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.LoginContainer.showLogin {
    top: calc(12% + 80px);
    
}

.RegisterHeading{
    font-size: 80px;
    color: azure;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-align: center;
}

.LoginHeading{
    font-size: 6rem;
    margin: 0;
    cursor: pointer;
    color: navy;
    
}

.RegisterContainer{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

.loginform{
    margin-top: 10px;
    display: flex;
    flex-direction: column;   
    
}

.RegisterButton{
    width: 308px;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 2rem;
}

.logininput1{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.LoginMainContainer{
    height: 80%;
    width: 35%;
}

.logincontainertext{
    color: navy;
}

.LoginButton{
    width: 308px;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 2rem;
}